.cabecalho{
    background-color: black;
    color: darksalmon;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: rgb(226, 43, 217);
}

.section2 {
    background-color: blueviolet;
}